<h3>Depression EDA<h3>

In [1]:
import pandas as pd
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from model_inspector import get_inspector
from sklearn import preprocessing

In [2]:
b_dep=pd.read_csv('../Datasets/b_depressed.csv')

In [3]:
b_dep.head()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0

In [4]:
b_dep.columns

Index(['Survey_id', 'Ville_id', 'sex', 'Age', 'Married', 'Number_children',
       'education_level', 'total_members', 'gained_asset', 'durable_asset',
       'save_asset', 'living_expenses', 'other_expenses', 'incoming_salary',
       'incoming_own_farm', 'incoming_business', 'incoming_no_business',
       'incoming_agricultural', 'farm_expenses', 'labor_primary',
       'lasting_investment', 'no_lasting_investmen', 'depressed'],
      dtype='object')

In [5]:
b_dep.incoming_own_farm.mean()

0.25192442267319803

In [6]:
b_dep_ag=b_dep.groupby('incoming_own_farm').agg({
    'depressed':'mean',
    'sex': 'mean',
    'Age': 'mean',
    'Married': 'mean',
    'Number_children': 'mean',
    'education_level': 'mean',
    'total_members': 'mean'
  
})

In [7]:
b_dep_ag

,depressed,sex,Age,Married,Number_children,education_level,total_members
incoming_own_farm,,,,,,,
0,0.163704,0.90739,33.758653,0.770814,2.816651,8.744621,4.871843
1,0.175000,0.95000,37.802778,0.777778,3.080556,8.516667,5.258333

In [8]:
b_dep_ag_econ=b_dep.groupby('incoming_own_farm').agg({
    'gained_asset':'mean',
    'durable_asset': 'mean',
    'save_asset': 'mean',
    'living_expenses': 'mean',
    'other_expenses': 'mean',
    'incoming_salary': 'mean',
    'incoming_business': 'mean',
    'incoming_agricultural': 'mean',
    'farm_expenses': 'mean',
    'labor_primary': 'mean',
    'lasting_investment': 'mean'
})

In [9]:
b_dep_ag_econ

,gained_asset,durable_asset,save_asset,living_expenses,other_expenses,incoming_salary,incoming_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment
incoming_own_farm,,,,,,,,,,,
0,3.216510e+07,2.649499e+07,2.702717e+07,3.157867e+07,3.286535e+07,0.240412,0.14406,3.373549e+07,3.456561e+07,0.285313,3.193196e+07
1,3.799773e+07,2.918614e+07,2.860518e+07,3.516663e+07,3.604478e+07,0.000000,0.00000,3.681142e+07,3.824098e+07,0.000000,3.614060e+07

In [10]:
b_dep_dc = b_dep.drop(['no_lasting_investmen', 'incoming_no_business', 'Survey_id', 'Ville_id'], axis=1)

In [11]:
b_dep_dc.corr()

,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,save_asset,living_expenses,other_expenses,incoming_salary,incoming_own_farm,incoming_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,depressed
sex,1.000000,-0.159376,0.282472,0.214297,-0.072137,0.180664,0.022316,0.028602,0.006637,-0.003493,0.055458,-0.032950,0.067467,0.087322,0.017828,0.070757,-0.025092,0.037923,-0.003519
Age,-0.159376,1.000000,-0.396944,-0.138448,-0.377146,-0.073936,0.008316,0.045368,-0.026685,-0.036599,0.026270,-0.055884,0.125569,-0.028204,-0.009173,-0.009428,-0.066347,0.045714,0.105721
Married,0.282472,-0.396944,1.000000,0.227206,0.218406,0.246808,-0.015317,-0.045356,0.009164,0.024518,0.031676,0.023690,0.007212,-0.032171,-0.043032,0.036919,0.017792,-0.000606,-0.062155
Number_children,0.214297,-0.138448,0.227206,1.000000,0.175165,0.781731,0.016195,-0.014358,0.027850,-0.000618,0.001611,-0.019415,0.061140,0.032514,0.018512,0.052273,-0.016731,0.042988,0.003823
education_level,-0.072137,-0.377146,0.218406,0.175165,1.000000,0.130236,0.014534,-0.011658,0.046626,0.010132,-0.043732,0.010843,-0.033861,0.014032,-0.054515,0.010648,0.044067,0.005361,-0.098043
total_members,0.180664,-0.073936,0.246808,0.781731,0.130236,1.000000,0.015472,-0.040372,0.036630,-0.005937,0.009988,-0.047026,0.093959,0.008520,0.026157,0.072907,-0.043622,0.044341,0.035056
gained_asset,0.022316,0.008316,-0.015317,0.016195,0.014534,0.015472,1.000000,-0.005730,-0.004477,0.073981,0.039911,0.028493,0.126403,0.050641,0.028656,0.058569,0.022879,0.033085,-0.004402
durable_asset,0.028602,0.045368,-0.045356,-0.014358,-0.011658,-0.040372,-0.005730,1.000000,-0.038218,0.020984,0.086410,0.078162,0.064366,0.015376,0.024395,0.027892,0.094494,0.246894,0.040505
save_asset,0.006637,-0.026685,0.009164,0.027850,0.046626,0.036630,-0.004477,-0.038218,1.000000,0.023722,0.028680,0.039431,0.038605,0.067390,0.022900,0.040168,0.061984,0.034959,0.009059
living_expenses,-0.003493,-0.036599,0.024518,-0.000618,0.010132,-0.005937,0.073981,0.020984,0.023722,1.000000,0.055057,0.089769,0.074143,0.031858,0.115553,0.003512,0.083639,0.040247,-0.028213
other_expenses,0.055458,0.026270,0.031676,0.001611,-0.043732,0.009988,0.039911,0.086410,0.028680,0.055057,1.000000,0.039329,0.063620,0.009415,0.071319,0.042088,0.051381,0.048173,0.017117
incoming_salary,-0.032950,-0.055884,0.023690,-0.019415,0.010843,-0.047026,0.028493,0.078162,0.039431,0.089769,0.039329,1.000000,-0.271747,-0.162745,0.016059,0.020840,0.898951,0.000715,-0.003929
incoming_own_farm,0.067467,0.125569,0.007212,0.061140,-0.033861,0.093959,0.126403,0.064366,0.038605,0.074143,0.063620,-0.271747,1.000000,-0.201682,0.064287,0.075560,-0.302294,0.086146,0.013161
incoming_business,0.087322,-0.028204,-0.032171,0.032514,0.014032,0.008520,0.050641,0.015376,0.067390,0.031858,0.009415,-0.162745,-0.201682,1.000000,0.040302,0.061623,-0.181039,0.042626,-0.028158
incoming_agricultural,0.017828,-0.009173,-0.043032,0.018512,-0.054515,0.026157,0.028656,0.024395,0.022900,0.115553,0.071319,0.016059,0.064287,0.040302,1.000000,0.093706,0.039127,-0.003214,-0.019147
farm_expenses,0.070757,-0.009428,0.036919,0.052273,0.010648,0.072907,0.058569,0.027892,0.040168,0.003512,0.042088,0.020840,0.075560,0.061623,0.093706,1.000000,0.023941,-0.001772,-0.004901
labor_primary,-0.025092,-0.066347,0.017792,-0.016731,0.044067,-0.043622,0.022879,0.094494,0.061984,0.083639,0.051381,0.898951,-0.302294,-0.181039,0.039127,0.023941,1.000000,0.008067,-0.012825
lasting_investment,0.037923,0.045714,-0.000606,0.042988,0.005361,0.044341,0.033085,0.246894,0.034959,0.040247,0.048173,0.000715,0.086146,0.042626,-0.003214,-0.001772,0.008067,1.000000,0.004136
depressed,-0.003519,0.105721,-0.062155,0.003823,-0.098043,0.035056,-0.004402,0.040505,0.009059,-0.028213,0.017117,-0.003929,0.013161,-0.028158,-0.019147,-0.004901,-0.012825,0.004136,1.000000

<h4>Logistic Regression<h4>

In [12]:
X = b_dep_dc.drop(columns=["depressed"])
y = b_dep_dc['depressed']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)
#X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=2)

In [14]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_scaled = scaler.transform(X_train)

In [15]:
lr=LogisticRegression()

lr.fit(X_scaled, y_train)

LogisticRegression()

In [16]:
X_test_scaled = scaler.transform(X_test)

In [17]:
lr.score(X_test_scaled, y_test)

0.8212290502793296

In [18]:
lr.score(X_scaled, y_train)

0.8366013071895425

In [19]:
inspector = get_inspector(lr, X, y)
inspector.show_model()

<h4> Depression among students<h4>

In [20]:
dep=pd.read_csv('../Datasets/depression_anxiety_data.csv')

In [21]:
dep.head()

,id,school_year,age,gender,bmi,who_bmi,phq_score,depression_severity,depressiveness,suicidal,depression_diagnosis,depression_treatment,gad_score,anxiety_severity,anxiousness,anxiety_diagnosis,anxiety_treatment,epworth_score,sleepiness
0,1,1,19,male,33.333333,Class I Obesity,9,Mild,False,False,False,False,11,Moderate,True,False,False,7.0,False
1,2,1,18,male,19.841270,Normal,8,Mild,False,False,False,False,5,Mild,False,False,False,14.0,True
2,3,1,19,male,25.102391,Overweight,8,Mild,False,False,False,False,6,Mild,False,False,False,6.0,False
3,4,1,18,female,23.738662,Normal,19,Moderately severe,True,True,False,False,15,Severe,True,False,False,11.0,True
4,5,1,18,male,25.617284,Overweight,6,Mild,False,False,False,False,14,Moderate,True,False,False,3.0,False

In [22]:
dep.columns

Index(['id', 'school_year', 'age', 'gender', 'bmi', 'who_bmi', 'phq_score',
       'depression_severity', 'depressiveness', 'suicidal',
       'depression_diagnosis', 'depression_treatment', 'gad_score',
       'anxiety_severity', 'anxiousness', 'anxiety_diagnosis',
       'anxiety_treatment', 'epworth_score', 'sleepiness'],
      dtype='object')

In [23]:
dep.head()

,id,school_year,age,gender,bmi,who_bmi,phq_score,depression_severity,depressiveness,suicidal,depression_diagnosis,depression_treatment,gad_score,anxiety_severity,anxiousness,anxiety_diagnosis,anxiety_treatment,epworth_score,sleepiness
0,1,1,19,male,33.333333,Class I Obesity,9,Mild,False,False,False,False,11,Moderate,True,False,False,7.0,False
1,2,1,18,male,19.841270,Normal,8,Mild,False,False,False,False,5,Mild,False,False,False,14.0,True
2,3,1,19,male,25.102391,Overweight,8,Mild,False,False,False,False,6,Mild,False,False,False,6.0,False
3,4,1,18,female,23.738662,Normal,19,Moderately severe,True,True,False,False,15,Severe,True,False,False,11.0,True
4,5,1,18,male,25.617284,Overweight,6,Mild,False,False,False,False,14,Moderate,True,False,False,3.0,False

In [24]:
dep.depressiveness.unique()

array([False, True, nan], dtype=object)

In [25]:
dep.depression_severity.unique()

array(['Mild', 'Moderately severe', 'None-minimal', 'Moderate', nan,
       'Severe', 'none'], dtype=object)

In [26]:
depr=dep.dropna()

In [27]:
dep_d=pd.DataFrame()
dcolumns=['gender']
for column in dcolumns:
    df_dummy=pd.get_dummies(depr[column], prefix=column, drop_first=True)
    dep_d=pd.concat([depr, df_dummy], axis=1)
    
print(dep_d.shape)

(765, 20)

In [28]:
keyword_mappings = {'None-minimal': 0, 'Mild': 1,'Moderate': 2, 'Moderately severe': 3, 'Severe': 5}

dep_d['dep_sev'] = dep_d.depression_severity.map(keyword_mappings)

In [29]:
dep_dd=pd.DataFrame()
dcolumns=[[
    'depressiveness',
    'suicidal',
    'anxiousness', 
    'anxiety_diagnosis', 
    'anxiety_treatment', 
    'sleepiness', 
    'depression_diagnosis',
    'depression_treatment'
]]
for column in dcolumns:
    df_dummy=pd.get_dummies(dep_d[column], prefix=column, drop_first=True)
    dep_dd=pd.concat([dep_d, df_dummy], axis=1)

In [30]:
dep_dd

,id,school_year,age,gender,bmi,who_bmi,phq_score,depression_severity,depressiveness,suicidal,...,gender_male,dep_sev,depressiveness_True,suicidal_True,anxiousness_True,anxiety_diagnosis_True,anxiety_treatment_True,sleepiness_True,depression_diagnosis_True,depression_treatment_True
0,1,1,19,male,33.333333,Class I Obesity,9,Mild,False,False,...,1,1.0,0,0,1,0,0,0,0,0
1,2,1,18,male,19.841270,Normal,8,Mild,False,False,...,1,1.0,0,0,0,0,0,1,0,0
2,3,1,19,male,25.102391,Overweight,8,Mild,False,False,...,1,1.0,0,0,0,0,0,0,0,0
3,4,1,18,female,23.738662,Normal,19,Moderately severe,True,True,...,0,3.0,1,1,1,0,0,1,0,0
4,5,1,18,male,25.617284,Overweight,6,Mild,False,False,...,1,1.0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,779,4,24,female,21.096191,Normal,6,Mild,False,False,...,0,1.0,0,0,0,0,0,0,0,0
779,780,4,22,male,25.308642,Overweight,4,None-minimal,False,False,...,1,0.0,0,0,0,0,0,0,0,0
780,781,4,22,male,22.720438,Normal,2,None-minimal,False,False,...,1,0.0,0,0,0,0,0,0,0,0
781,782,4,22,female,23.033168,Normal,17,Moderately severe,True,False,...,0,3.0,1,0,1,0,0,1,0,0
782,783,4,22,male,22.598140,Normal,6,Mild,False,False,...,1,1.0,0,0,0,0,0,0,0,0

In [31]:
dep_clean = dep_dd.drop([
    'gender', 
    'who_bmi', 
    'depression_severity', 
    'depressiveness', 
    'suicidal', 
    'anxiousness',
    'anxiety_diagnosis', 
    'anxiety_treatment', 
    'sleepiness', 
    'depression_diagnosis', 
    'depression_treatment',
    'anxiety_severity'
], axis=1)

In [32]:
dep_clean.head()

,id,school_year,age,bmi,phq_score,gad_score,epworth_score,gender_male,dep_sev,depressiveness_True,suicidal_True,anxiousness_True,anxiety_diagnosis_True,anxiety_treatment_True,sleepiness_True,depression_diagnosis_True,depression_treatment_True
0,1,1,19,33.333333,9,11,7.0,1,1.0,0,0,1,0,0,0,0,0
1,2,1,18,19.841270,8,5,14.0,1,1.0,0,0,0,0,0,1,0,0
2,3,1,19,25.102391,8,6,6.0,1,1.0,0,0,0,0,0,0,0,0
3,4,1,18,23.738662,19,15,11.0,0,3.0,1,1,1,0,0,1,0,0
4,5,1,18,25.617284,6,14,3.0,1,1.0,0,0,1,0,0,0,0,0

In [33]:
dep_clean.corr()

,id,school_year,age,bmi,phq_score,gad_score,epworth_score,gender_male,dep_sev,depressiveness_True,suicidal_True,anxiousness_True,anxiety_diagnosis_True,anxiety_treatment_True,sleepiness_True,depression_diagnosis_True,depression_treatment_True
id,1.000000,0.957983,0.657784,0.002906,-0.122582,-0.119837,-0.048113,-0.011716,-0.096857,-0.074063,-0.046727,-0.135580,0.020170,-0.021294,-0.034782,0.020873,-0.019056
school_year,0.957983,1.000000,0.637692,-0.010453,-0.124790,-0.126581,-0.055395,-0.016093,-0.104261,-0.073929,-0.063403,-0.139753,0.018108,-0.033786,-0.027368,0.003725,-0.040394
age,0.657784,0.637692,1.000000,0.097000,-0.064811,-0.070538,-0.008501,0.030214,-0.039534,-0.037974,-0.046948,-0.071614,0.055279,0.004997,-0.007734,0.065720,0.034627
bmi,0.002906,-0.010453,0.097000,1.000000,0.075988,0.038697,0.012114,0.166668,0.084423,0.079665,0.138590,0.056159,-0.047932,-0.043424,0.003365,-0.054137,-0.053369
phq_score,-0.122582,-0.124790,-0.064811,0.075988,1.000000,0.679968,0.383502,-0.148067,0.951089,0.776147,0.420385,0.537769,0.149429,0.143223,0.325682,0.184392,0.160535
gad_score,-0.119837,-0.126581,-0.070538,0.038697,0.679968,1.000000,0.384027,-0.225399,0.636164,0.532665,0.314041,0.814354,0.133912,0.099447,0.313583,0.129779,0.095521
epworth_score,-0.048113,-0.055395,-0.008501,0.012114,0.383502,0.384027,1.000000,-0.141360,0.371231,0.291629,0.215015,0.289056,-0.025556,0.024074,0.735715,0.042949,0.070295
gender_male,-0.011716,-0.016093,0.030214,0.166668,-0.148067,-0.225399,-0.141360,1.000000,-0.130084,-0.091053,-0.004905,-0.152211,-0.053907,-0.035422,-0.127814,-0.065283,-0.036287
dep_sev,-0.096857,-0.104261,-0.039534,0.084423,0.951089,0.636164,0.371231,-0.130084,1.000000,0.776200,0.431912,0.512425,0.135862,0.148733,0.305904,0.184208,0.163709
depressiveness_True,-0.074063,-0.073929,-0.037974,0.079665,0.776147,0.532665,0.291629,-0.091053,0.776200,1.000000,0.503645,0.471915,0.170551,0.156975,0.225044,0.234559,0.165503
suicidal_True,-0.046727,-0.063403,-0.046948,0.138590,0.420385,0.314041,0.215015,-0.004905,0.431912,0.503645,1.000000,0.269699,0.117977,0.122776,0.171006,0.123429,0.127769
anxiousness_True,-0.135580,-0.139753,-0.071614,0.056159,0.537769,0.814354,0.289056,-0.152211,0.512425,0.471915,0.269699,1.000000,0.121176,0.094650,0.228695,0.103530,0.078841
anxiety_diagnosis_True,0.020170,0.018108,0.055279,-0.047932,0.149429,0.133912,-0.025556,-0.053907,0.135862,0.170551,0.117977,0.121176,1.000000,0.692674,-0.026999,0.511094,0.467765
anxiety_treatment_True,-0.021294,-0.033786,0.004997,-0.043424,0.143223,0.099447,0.024074,-0.035422,0.148733,0.156975,0.122776,0.094650,0.692674,1.000000,0.015239,0.417252,0.533709
sleepiness_True,-0.034782,-0.027368,-0.007734,0.003365,0.325682,0.313583,0.735715,-0.127814,0.305904,0.225044,0.171006,0.228695,-0.026999,0.015239,1.000000,0.023137,0.058815
depression_diagnosis_True,0.020873,0.003725,0.065720,-0.054137,0.184392,0.129779,0.042949,-0.065283,0.184208,0.234559,0.123429,0.103530,0.511094,0.417252,0.023137,1.000000,0.692911
depression_treatment_True,-0.019056,-0.040394,0.034627,-0.053369,0.160535,0.095521,0.070295,-0.036287,0.163709,0.165503,0.127769,0.078841,0.467765,0.533709,0.058815,0.692911,1.000000

In [34]:
dep_clean_sev=dep_clean.groupby('dep_sev').agg({
    'depressiveness_True':['mean', 'sum'],
    'suicidal_True':['mean', 'sum'], 
    'depression_diagnosis_True':['mean', 'sum'],
    'depression_treatment_True': ['mean', 'sum']
    
})

In [35]:
dep_clean_sev

        depressiveness_True      suicidal_True     depression_diagnosis_True  \
                       mean  sum          mean sum                      mean
dep_sev
0.0                0.009050    2      0.009050   2                  0.054299
1.0                0.038348   13      0.038348  13                  0.050147
2.0                1.000000  136      0.154412  21                  0.161765
3.0                1.000000   42      0.500000  21                  0.285714
5.0                1.000000   12      0.666667   8                  0.166667

            depression_treatment_True
        sum                      mean sum
dep_sev
0.0      12                  0.045249  10
1.0      17                  0.050147  17
2.0      22                  0.125000  17
3.0      12                  0.238095  10
5.0       2                  0.166667   2

In [36]:
dep_clean_year=dep_clean.groupby('school_year').agg({
    'dep_sev':['mean', 'sum'],
    'depressiveness_True':['mean', 'sum'],
    'suicidal_True':['mean', 'sum'], 
    'depression_diagnosis_True':['mean', 'sum'],
    'depression_treatment_True': ['mean', 'sum']    
})

In [37]:
dep_clean_year

              dep_sev        depressiveness_True     suicidal_True      \
                 mean    sum                mean sum          mean sum
school_year
1            1.154717  306.0            0.299625  80      0.097378  26
2            1.184783  218.0            0.302703  56      0.108108  20
3            0.840909  111.0            0.202899  28      0.065217   9
4            0.958580  162.0            0.234286  41      0.057143  10

            depression_diagnosis_True     depression_treatment_True
                                 mean sum                      mean sum
school_year
1                            0.108614  29                  0.104869  28
2                            0.043243   8                  0.043243   8
3                            0.065217   9                  0.050725   7
4                            0.114286  20                  0.080000  14

In [38]:
dep_clean_sev.columns

MultiIndex([(      'depressiveness_True', 'mean'),
            (      'depressiveness_True',  'sum'),
            (            'suicidal_True', 'mean'),
            (            'suicidal_True',  'sum'),
            ('depression_diagnosis_True', 'mean'),
            ('depression_diagnosis_True',  'sum'),
            ('depression_treatment_True', 'mean'),
            ('depression_treatment_True',  'sum')],
           )

In [42]:
dep_new=dep_clean_sev.rename(columns={
    ('depressiveness_True',   'sum'):'depressiveness',
    ('depression_diagnosis_True',   'sum'): 'diagnosis',
    ('depression_treatment_True',   'sum'): 'treatment'
}, inplace=True)

In [45]:
dep_new